/* custom-introjs-styles.css */

.introjs-tooltip .introjs-tooltiptext {
    font-size: 18px;
}

.introjs-tooltip {
    background-color: tomato;
    color: black;    
    border: 1px solid black;
    border-radius: 10px;
}

.introjs-tooltip .introjs-button {
    cursor: pointer;
  }
  .introjs-tooltip .introjs-button:hover {
    background-color: lightgrey;
  }